.body {
  box-sizing: border-box;
  text-decoration: none;
}

.logo {
  width: 4.5rem;
  height: 4.5rem;
}

.v-line-nav {
  height: 1rem;
  top: 0.8rem;
}

.active {
  text-decoration: underline;
  font-weight: 550;
}

.nav-items-top {
  height: 1.2rem;
}

.main-rockets-items {
  border: none !important;
}

.reserve-button {
  height: 2.5rem;
}
