.body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  width: 7rem;
  white-space: nowrap;
  background-color: #3f1324ad !important;
}

.list-links li {
  min-height: 200px;
}

.list-links:nth-of-type(4n+1),
.list-links:nth-of-type(4n+2) {
  background-color: #a7436b;
  color: white;
}

.list-links:nth-of-type(4n+3),
.list-links:nth-of-type(4n+4) {
  background-color: #8b3254;
  color: white;
}

.strong-pink {
  background-color: #e44c88;
  color: white;
}

.home-arrow-button {
  position: relative;
  top: -0.15rem;
  height: 1.5rem;
}

.section-header {
  background-image: linear-gradient(#291313, #f65493, #0f0707);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
}

form {
  padding: 0;
}

.search-bar {
  color: rgb(209, 205, 199);
  background-color: rgb(24, 26, 27);
  border-color: rgb(102, 115, 122);
}

.search-bar:focus {
  border-color: #f6549291;
  box-shadow: inset 0 0 1rem rgb(158, 120, 143), 0 0 1rem #f65493;
}

.country-info-container {
  background-color: #e44c88;
  color: white;
}

/* small screens */
@media screen and (max-width: 500px) {
  .flag-container {
    width: 100%;
    align-self: center;
  }

  .flag {
    width: 98%;
    height: 100%;
    align-self: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

/* ipad */
@media screen and (min-width: 768px) {
  .flag-container {
    height: 35%;
    width: 100%;
    align-self: center;
  }

  .flag {
    width: 90%;
    height: 100%;
    align-self: center;
  }
}

/* lg */
@media screen and (min-width: 992px) {
  .flag-container {
    height: 39%;
    align-self: center;
  }

  .flag {
    width: 50%;
    height: 93%;
    align-self: center;
  }
}
