.body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.strong-pink,
.collection-item:nth-child(2n) {
  background: #e44c88;
  color: white;
}

.home-arrow-button {
  position: relative;
  top: -0.15rem;
  height: 1.5rem;
}

.section-header {
  background-image: linear-gradient(#0f0707, #f65493);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
}

form {
  padding: 0;
}

.search-bar {
  color: rgb(209, 205, 199);
  background-color: rgb(24, 26, 27);
  border-color: rgb(102, 115, 122);
}

.search-bar:focus {
  border-color: #f65493;
  box-shadow: inset 0 0 0 rgb(27, 7, 16), 0 0 10px #f65493;
}

/* .section-header-text {
  background-color: #f65493;
} */

/* .logo {
  width: 4.5rem;
  height: 4.5rem;
}

.v-line-nav {
  height: 1rem;
  top: 0.8rem;
}

.active {
  text-decoration: underline;
  font-weight: 550;
}

.nav-items-top {
  height: 1.2rem;
}

.main-rockets-items {
  border: none !important;
}

.reserve-button {
  height: 2.5rem;
} */
